name: upsr
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pip
  - pip:
      - opencv-python
      - pillow
      - scikit-image
      - tqdm
      - matplotlib